BOT_TOKEN=8711347335:AAFdZV11arLIR898b1Sh2zW7Ajdqp_P8RHM
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"YOUR_PROJECT_ID","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\nYOUR_LONG_KEY\\n-----END PRIVATE KEY-----","client_email":"...@...iam.gserviceaccount.com"}
