# --- Telegram Bot Config ---
BOT_TOKEN=aapka_telegram_bot_token_yahan_dalein

# --- Firebase Admin SDK Config ---
FIREBASE_PROJECT_ID=earn-bot-2026
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@earn-bot-2026.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://earn-bot-2026-default-rtdb.firebaseio.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"

# --- Firebase Web Config (Optional if using Firestore only) ---
FIREBASE_API_KEY=your_api_key
FIREBASE_AUTH_DOMAIN=earn-bot-2026.firebaseapp.com
FIREBASE_STORAGE_BUCKET=earn-bot-2026.appspot.com
FIREBASE_APP_ID=1:519698784421:web:your_app_id
